<?xml version="1.0" encoding="UTF-8"?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>
	<require_version>${openMRSVersion}</require_version>
	<!--<require_version>1.11.*, 1.10.2 - 1.10.*, 1.12.*</require_version>-->

	<require_modules>
		<require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
		<require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
		<require_module version="${htmlformentryVersion}">org.openmrs.module.htmlformentry</require_module>
		<require_module version="${idgenVersion}">org.openmrs.module.idgen</require_module>
		<require_module version="${kenyacoreVersion}">org.openmrs.module.kenyacore</require_module>
		<require_module version="${kenyauiVersion}">org.openmrs.module.kenyaui</require_module>
		<require_module version="${metadatasharingVersion}">org.openmrs.module.metadatasharing</require_module>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
		<require_module version="${groovyVersion}">org.openmrs.module.groovy</require_module>
		<require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
		<require_module version="${kenyaemrOrderentryVersion}">org.openmrs.module.kenyaemrorderentry</require_module>
	</require_modules>

	<!--<aware_of_modules>
		<aware_of_module version="${kenyaemrOrderentryVersion}">org.openmrs.module.kenyaemrorderentry</aware_of_module>
	</aware_of_modules>-->

	<!--<aware_of_modules>-->
		<!--<aware_of_module version="${prepVersion}">org.openmrs.module.prep</aware_of_module>-->
	<!--</aware_of_modules>-->

	<activator>org.openmrs.module.kenyaemr.EmrActivator</activator>

	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.advice.EncounterServiceAdvice</class>
	</advice>
	<advice>
		<point>org.openmrs.api.EncounterService</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.advice.MCHMSDeliveryFormProcessor</class>
	</advice>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

</module>