<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>${project.parent.organization.name}</author>
	<description>${project.parent.description}</description>
	<require_version>${openMRSVersion}</require_version>

	<require_modules>
		<require_module version="${kenyauiVersion}">org.openmrs.module.kenyaui</require_module>
		<require_module version="${uiframeworkVersion}">org.openmrs.module.uiframework</require_module>
		<require_module version="${appframeworkVersion}">org.openmrs.module.appframework</require_module>
		<require_module version="${metadatasharingVersion}">org.openmrs.module.metadatasharing</require_module>
		<require_module version="${htmlformentryVersion}">org.openmrs.module.htmlformentry</require_module>
		<require_module version="${calculationVersion}">org.openmrs.calculation</require_module>
		<require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
		<require_module version="${idgenVersion}">org.openmrs.module.idgen</require_module>
	</require_modules>

	<activator>org.openmrs.module.kenyaemr.EmrActivator</activator>

	<mappingFiles>
	</mappingFiles>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

</module>