/********************************************
 *
 * General styles for the Kenya EMR
 *
 ********************************************/

/*** Page header ***/

#pageheader {
	border: 5px solid #FFF;
	background-color: #FFF;
}

/*** Patient header ***/

.ke-patientheader {
	padding: 4px;
	background-color: #7f7b72;
	overflow: auto;
	color: white;
}

.ke-patientheader .ke-patient-name {
	font-size: 18px;
	font-weight: bold;
}

.ke-patientheader #active-visit {
	width: 50%;
	float: right;
	overflow: auto;
	text-align: right;
}

.ke-patientheader .ke-identifier-type, .ke-patientheader .ke-patient-gender, .ke-patientheader .ke-patient-age, .ke-patientheader .ke-tip {
	color: #dfdbd2;
}

.ke-patientheader .ke-identifier-value {
	color: white;
}

/***** Visit header *****/

#selected-visit-header {
	padding: 3px;
	text-align: center;
	background-color: #466469;
	color: white;
}

/***** Dynamic form fields *****/

.ke-form-dynamic-field {
	display: block;
	margin: 5px 0 5px 0;
}

.ke-search {
	width: 300px;
}