/********************************************
 *
 * General styles for KenyaEMR module
 *
 ********************************************/

/*** General fonts ***/

html, body {
	font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px;
}

h4 {
	font-size: 16px;
}

h3 {
	font-size: 18px;
}

small {
	font-size: 12px;
}

/*** Full window views (used for login and forgot password pages) ***/

.fullwindow {
	left: 0;
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	background-color: #e0e0e0;
}

/*** Page header ***/

#pageheader {
	border: 5px solid #FFF;
	background-color: #FFF;
}

/*** App header ***/

#appheader {
	font-size: 14px;
	color: white;
	background-color: #404040;
	padding: 5px 5px 5px 5px;
}

#appheader-appmenu {
	float: left;
}

#appheader-usermenu {
	float: right;
}

#appheader a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#appheader a:hover {
	text-decoration: underline;
}

/*** Patient header ***/

.patient-alert {
	color: #332;
	background-color: yellow;
	margin-right: 3px;
	padding: 2px;
	border-radius: 2px;
	display: inline-block;
}

.active-visit {
	color: #223;
	background-color: #EEF;
	margin-left: 3px;
	padding: 2px;
	border-radius: 2px;
	display: inline-block;
}

/*** Panel style set ***/

.panel-frame {
	background-color: #D1D0C9;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 3px;
}

#content-side .panel-frame {
	background-color: #858580;
}

.panel-heading {
	color: #333;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.panel-editlink {
	float: right;
	background-color: #E8E6DB;
	padding: 3px;
	border-radius: 1px;
	color: black;
	text-decoration: none;
}

#content-side .panel-heading {
	color: white;
}

.panel-content {
	background-color: #FFF;
	padding: 5px;
}

.panel-menuitem {
	padding: 5px;
	overflow: auto;
	background-color: #EEE;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
}

.panel-menuitem:hover {
	background-color: #DDD;
}

.panel-menuitem:first-child {
	border-top: none;
}
.panel-menuitem:last-child {
	border-bottom: none;
}

.panel-menuitem img {
	float: left;
	margin-right: 5px;
	width: 32px;
	height: 32px;
}

.panel-menuitem a {
	color: #444;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
}

.panel-menuitem-text {
	color: #888;
	text-align: center;
}

.panel-menuitem-description {
	font-size: 10px;
}

.panel-menuitem-active, .panel-menuitem-active:hover {
	background-color: #EEB;
}

/*** Decorated tables ***/

table.table-decorated {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

table.table-decorated th {
	font-weight: bold;
	color: #444;
}

table.table-decorated th, table.table-decorated td {
	 padding: 2px;
	 text-align: center;
}

table.table-decorated th:first-of-type,  table.table-decorated td:first-of-type {
	text-align: left;
}

table.table-vertical thead tr {
	border-bottom: 2px solid #858580;
}

table.table-vertical tbody tr {
	border-top: 1px solid #AAA;
}

table.table-vertical tbody tr:first-of-type {
	border-top: 0;
}

table.table-vertical tbody tr:nth-child(odd) {
	background-color: #F7F7F7;
}

/*** Stacks (e.g. patient search results) ***/

.stack-item {
	border-top: 2px dotted #d1d0c9;
	padding: 3px;
}

.stack-item:first-of-type {
	border-top: 0;
}

.stack-item:hover {
	background-color: #FFD;
}

.stack-item .title {
	display: block;
	font-weight: bold;
	font-size: 16px;
}

.stack-item .icon {
	float: left;
	padding-right: 0.3em;
}

.stack-item .leftText {
	float: left;
}

.stack-item .one-column {
	float: left;
}

/*** Loading placeholders ***/

.loading-placeholder {
	/* Actual image URL set in standardKenyaEmrPage.gsp */
	background-repeat: no-repeat;
	background-position: left, top;
	padding-left: 24px;
	color: #777;
	font-style: italic;
	min-height: 16px;
}

.loading-placeholder:after {
	content: "Loading...";
}

/*** Data points ***/

.datapoint {
	margin: 1px 0 1px 0;
}

.datapoint .datapoint-label {
}

.datapoint .datapoint-value {
	font-weight: bold;
}

.datapoint .datapoint-extra {
	font-size: 12px;
}

/*** Forms ***/

fieldset {
	border: 2px solid #D1D0C9;
}

legend {
	color: #333;
	font-weight: bold;
}

/*** Others... ***/

.identifier-label {
	color: #888888;
}

.identifier-value {
	font-weight: bold;
}

.editable {
	position: relative;
}

.editable .edit-button {
	position: absolute;
	top: 0.5em;
	right: 0.3em;
	font-size: 0.8em;
}

.edit-button {
	float: right;
}

.padded {
	padding: 1em;
}

.clickable {
	cursor: pointer;
}

.hidden {
	display: none;
}